Connected Services/ServiceReference1/MiServicio2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApplication7.Web.clases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApplication7.Web.clases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRelacion.Producto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relacion.Producto" nillable="true" type="tns:Relacion.Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelacion.Producto" nillable="true" type="tns:ArrayOfRelacion.Producto" />
  <xs:complexType name="Relacion.Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relacion.Producto" nillable="true" type="tns:Relacion.Producto" />
  <xs:complexType name="ArrayOfRelacion.Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Relacion.Cliente" nillable="true" type="tns:Relacion.Cliente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRelacion.Cliente" nillable="true" type="tns:ArrayOfRelacion.Cliente" />
  <xs:complexType name="Relacion.Cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Relacion.Cliente" nillable="true" type="tns:Relacion.Cliente" />
</xs:schema>