Connected Services/ServiceReference1/MiServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://localhost:44327/Negocio/MiServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://localhost:44327/Negocio/MiServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://localhost:44327/Negocio/MiServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebApplication7.Web.clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiServicio_CrearProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearProducto" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_CrearProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ObtenerProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductos" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ObtenerProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ObtenerProductoPorID_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoPorID" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ObtenerProductoPorID_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoPorIDResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ActualizarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProducto" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ActualizarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_CrearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCliente" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_CrearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ObtenerClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientes" />
  </wsdl:message>
  <wsdl:message name="IMiServicio_ObtenerClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="IMiServicio">
    <wsdl:operation name="CrearProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/CrearProducto" message="tns:IMiServicio_CrearProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/CrearProductoResponse" message="tns:IMiServicio_CrearProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/ObtenerProductos" message="tns:IMiServicio_ObtenerProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/ObtenerProductosResponse" message="tns:IMiServicio_ObtenerProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductoPorID">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/ObtenerProductoPorID" message="tns:IMiServicio_ObtenerProductoPorID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/ObtenerProductoPorIDResponse" message="tns:IMiServicio_ObtenerProductoPorID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/ActualizarProducto" message="tns:IMiServicio_ActualizarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/ActualizarProductoResponse" message="tns:IMiServicio_ActualizarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/EliminarProducto" message="tns:IMiServicio_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/EliminarProductoResponse" message="tns:IMiServicio_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/CrearCliente" message="tns:IMiServicio_CrearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/CrearClienteResponse" message="tns:IMiServicio_CrearCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicio/ObtenerClientes" message="tns:IMiServicio_ObtenerClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicio/ObtenerClientesResponse" message="tns:IMiServicio_ObtenerClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiServicio" type="tns:IMiServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearProducto">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/CrearProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductos">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/ObtenerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProductoPorID">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/ObtenerProductoPorID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarProducto">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/ActualizarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearCliente">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/CrearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap:operation soapAction="http://tempuri.org/IMiServicio/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiServicio">
    <wsdl:port name="BasicHttpBinding_IMiServicio" binding="tns:BasicHttpBinding_IMiServicio">
      <soap:address location="http://localhost:49749/Negocio/MiServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>